################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Testing-system1/v17
/Testing system/Testing-system project/.vs/Testing-system project
